Repository Pax-Astralis-Dev/pax-astralis-station, pull requests merged in 2024-05, with the labels that each got.

#13 Map adjustments
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/ConfigPresets/Build/development.toml
  Resources/Maps/_NF/Outpost/oreo-1.yml
  Resources/Maps/_NF/Outpost/oreo.yml
  Resources/Maps/_NF/Outpost/pancake.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_NF/Maps/Outpost/oreo-1.yml
  Resources/Prototypes/_NF/Maps/Outpost/pancake.yml
Labels: Map-Outpost, C#

#17 Adding 2 RIPLEY circuits to circuit vendor
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/circuitvend.yml
Labels: No C#, YML

#18 Add Pax-Styled Security Jumpsuit
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security.rsi/inhand-right.png
Labels: No C#, Sprites

#19 Add Pax-Styled Security Jumpskirt
  equipped-INNERCLOTHING-monkey.png
  equipped-INNERCLOTHING.png
  icon.png
  inhand-left.png
  inhand-right.png
Labels: No C#

#14 Multisector prototype
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Server/_PAX/Maps/GameOutpostPrototype.cs
  Content.Server/_PAX/Maps/GameStationPrototype.cs
  Content.Server/_PAX/Maps/LocationSettings.cs
  Content.Server/_PAX/Sectors/GameSectorManager.cs
  Content.Server/_PAX/Sectors/GameSectorPrototype.cs
  Resources/Maps/_NF/POI/anomalouslab.yml
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/beacon.yml
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/caseyscasino.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Prototypes/_NF/Maps/Outpost/oreo-1.yml
  Resources/Prototypes/_PAX/Sectors/alpha.yml
  Resources/Prototypes/_PAX/Sectors/beta.yml
Labels: C#, Map-POI

#22 security IFF taken off sale
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/circuitvend.yml
Labels: No C#, YML

#25 hegemony flag :)
  Resources/Textures/Structures/Decoration/banner.rsi/banner.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster2_legit.png
Labels: No C#, Sprites

#28 replace beta oreo with FTL beacon
  Resources/Maps/_NF/Outpost/oreo.yml
  Resources/Maps/_PAX/Outpost/ftlbeacon.yml
  Resources/Prototypes/_NF/Maps/Outpost/ftlbeacon.yml
  Resources/Prototypes/_PAX/Sectors/beta.yml
Labels: No C#, Map-Outpost

#29 deaddrops 2
  RUN_THIS.py
  Resources/Maps/deaddrop.yml
  Resources/Prototypes/_NF/Markers/Spawners/crates.yml
Labels: No C#, YML

#30 Update Changelog.yml
  Resources/Changelog/Changelog.yml
Labels: No C#, YML

#34 Sprite Bounty Part 1
  equipped-BACKPACK.png
  equipped-EYES.png
  equipped-HELMET-hamster.png
  equipped-HELMET.png
  equipped-OUTERCLOTHING.png
  icon.png
  inhand-left.png
  inhand-right.png
  pda-secuirty.png
Labels: No C#

#36 Update Changelog.yml
  Resources/Changelog/Changelog.yml
Labels: No C#, YML
