Repository Pax-Astralis-Dev/pax-astralis-station, pull requests merged in 2024-07, with the labels that each got.

#46 changelog update
  Resources/Changelog/Changelog.yml
Labels: No C#, YML

#47 Addition of science corner in Oreo, enabling back some default jobs, and adding more vendors around the Oreo's outer ring
  Resources/Changelog/Changelog.yml
  Resources/Maps/_NF/Outpost/oreo.yml
  Resources/Prototypes/_NF/Maps/Outpost/oreo.yml
Labels: No C#, Map-Outpost

#49 cookbook
  wiki/guides/SS14_RP_Game_Cookbook.md
Labels: No C#, Docs

#50 Update hyperlinks.yml with cookbook link to Pax repo
  Resources/Prototypes/_Nyano/Entities/Objects/Books/hyperlinks.yml
Labels: No C#, YML

#51 Add Diner, a class of fast-food restaurant vessels.
  Resources/Maps/_PAX/Shuttles/diner.yml
  Resources/Prototypes/_PAX/Shipyard/diner.yml
Labels: No C#, YML

#55 added Bomber ship and fixed door on Finder from CommandDoor to CaptainDoor
  Resources/Changelog/Changelog.yml
  Resources/Maps/_PAX/Shuttles/bomber.yml
  Resources/Maps/_PAX/Shuttles/finder.yml
  Resources/Prototypes/_PAX/Shipyard/bomber.yml
Labels: No C#, YML

#56 ship mapping tutorial
  wiki/guides/mapping-ship.md
Labels: No C#, Docs

#57 New science meta-station vessel Discovery added, rules divided to alpha/beta sector rules and random events enabled
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Audio/Effects/adminhelp.ogg
  Resources/Changelog/Changelog.yml
  Resources/Maps/_PAX/Shuttles/discovery.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/SoundCollections/traits.yml
  Resources/Prototypes/_PAX/Shipyard/discovery.yml
  Resources/ServerInfo/Rules.txt
Labels: YML, C#

#58 New location Federation Asteroid has been added to Beta Sector. Cargo pads added on Lancer and Finder, salvage rewards will come through now. Door fixed on Diner ship. Libernation gun vendor added to Helios One and it has been set to spawn closer to Oreo. Removed Grifty's Grub.
  Resources/Changelog/Changelog.yml
  Resources/Maps/_PAX/POI/fedasteroid.yml
  Resources/Maps/_PAX/POI/heliosone.yml
  Resources/Maps/_PAX/Shuttles/diner.yml
  Resources/Maps/_PAX/Shuttles/finder.yml
  Resources/Maps/_PAX/Shuttles/lancer.yml
  Resources/Prototypes/_PAX/Maps/POI/fedasteroid.yml
  Resources/Prototypes/_PAX/Sectors/alpha.yml
  Resources/Prototypes/_PAX/Sectors/beta.yml
Labels: No C#, YML

#62 NC Shuriken - shock salvage operation vessel added. Dematerializer fire rate and reload made faster, starting cash to 30k
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Changelog/Changelog.yml
  Resources/Maps/_PAX/Shuttles/shuriken.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/_PAX/Sectors/alpha.yml
  Resources/Prototypes/_PAX/Sectors/beta.yml
  Resources/Prototypes/_PAX/Shipyard/shuriken.yml
Labels: YML, C#

#63 Crawling added to the game as per Gregend's PR #42 request. Ship prices of Diamond and Blockhead tweaked.
  Content.Server/Crawl/CrawlComponent.cs
  Content.Server/Crawl/CrawlSystem.cs
  Content.Shared/Actions/Events/CrawlActionEvent.cs
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_PAX/Shipyard/blockhead.yml
  Resources/Prototypes/_PAX/Shipyard/diamond.yml
  Resources/Textures/Interface/Actions/crawl.png
Labels: YML, C#
